/**
* @name LilyPichu
* @author Nyria#3863
* @description A theme based on @Melonturtle_ stream design
* @invite rtBQX5D3bD
* @version 1.4
* @donate https://ko-fi.com/nyria
*/
@import url("https://raw.githubusercontent.com/Ziggs25/test-theme/main/main.css");
/* Remove decorations */
/* @import url("https://raw.githubusercontent.com/Ziggs25/test-theme/main/stuff/overlay.css"); */

/* Animations and Stuffs */
@import url("https://raw.githubusercontent.com/Ziggs25/test-theme/main/Stuffs%20And%20Animations.css");
:root {
    /* ACCENT COLORS */
  --main-color: #a86373 !important;/* main accent color (hex, rgb or hsl) [default: #2780e6] */
  --hover-color: #a86373 !important;/* hover accent color (hex, rgb or hsl) [default: #1e63b3] */
  --success-color: #43b581; /* success accent color (hex, rgb or hsl) [default: #43b581] */
  --danger-color: #982929; /* danger accent color (hex, rgb or hsl) [default: #982929] */
  

  /* STATUS COLORS */
  --online-color: #43b581; /* online status color (hex, rgb or hsl) [default: #43b581] */
  --idle-color: #faa61a; /* idle status color (hex, rgb or hsl) [default: #faa61a] */
  --dnd-color: #982929; /* dnd status color (hex, rgb or hsl) [default: #982929] */
  --streaming-color: #593695; /* streaming status color (hex, rgb or hsl) [default: #593695] */
  --offline-color: #808080; /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */
    
   /* THEME BD COLORS */
  --bd-blue: var(--main-color) !important; /* betterdiscord main color [default: var(--main-color)] */
  --bd-blue-hover: var(--hover-color) !important; /* betterdiscord hover color [default: var(--hover-color)] */
  --bd-blue-active : var(--hover-color) !important; /* betterdiscord active color [default: var(--hover-color)] */

  /* --- User variables --- */
  --background-image: url("https://cdn.discordapp.com/attachments/1024230065350914138/1128686632904708228/ayo.png");
  --background-position-x: center; /* Possible values: left, center, right */
  --background-position-y: top; /* Possible values: top, center, bottom */

  /* Startup GIF */
  --jumping-gif: url("https://cdn.discordapp.com/attachments/1024230065350914138/1097503279874842724/ezgif.com-crop.gif");

  /* Background (if you want an image replace it by : */
  /*  --background-tertiary-alt: #ffc7d4; */
  --background-tertiary-alt: var(--background-image) var(--background-position-x) var(--background-position-y) / cover !important;
  --background-filter: blur(2px); /* Adjust the blur value as desired */
  --background-blur: var(--background-filter) !important;


  /* Border-radius for the whole theme */
  --border-radius: 20px;

}

.progressBar-2yl2pi, .guildSeparator-a4uisj  {
  background: linear-gradient(to right, #ff0a54, #ff477e, #ff5c8a, #ff99ac, #f7cad0, #fae0e4) !important;
  animation: rainbowText 300s infinite linear;


  @keyframes rainbowText {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
    }
  }
  --channel-text-area-placeholder: #f70b75ce; 
}

.theme-dark {
  /* Text */
  --text-normal: #f8e1e5;
  --header-primary: #f8e1e5;
  --interactive-normal: #fab1bd;
  --channels-default: #f8e1e5;
  --channel-icon: #f8e1e5;
  
  --text-muted: #e2c1c7;
  --interactive-muted: #ad8c91;

  --header-secondary: #e2c1c7;
  --interactive-hover: #e2c1c7;
  --interactive-active: #e2c1c7;

  /* Background color */
  --background-primary: #5e3640;
  --background-secondary: #49292f;
  --background-secondary-alt: #3b1d24;
  --background-tertiary: #220f14;
  --background-floating: #221115;
  --background-accent: #c5536c;
  --channeltextarea-background: var(--background-secondary);
  --modal-background: var(--background-primary);
  --background-modifier-hover: #5e36403b;
  --background-modifier-active: #5e364058;
  --background-modifier-selected: #5e364068;
  --toast-background: #5e3640 !important;
  --toast-header: #3b1d24 !important;
  --toast-contents: #49292f !important;
  --toast-border: #49292f !important;
  --input-background: var(--background-secondary);

  /* Scrollbar */
  --scrollbar-auto-thumb: #f8e1e5;
  --scrollbar-auto-track: var(--background-secondary-alt);
  --scrollbar-thin-thumb: #f8e1e5;
  --scrollbar-thin-track: transparent;

  /* Other */
  --channel-text-area-placeholder: var(--interactive-normal);
  --deprecated-quickswitcher-input-background: var(--background-primary);
  --brand-experiment: #a86373 !important;  
}
/* Add glow effect */
.theme-dark .channelIconDefault-2Nn_1R:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: var(--channels-default); /* Use the same color as --channels-default */
  box-shadow: 0 0 8px 4px var(--channels-default); /* Adjust the blur radius and spread values as desired */
  pointer-events: none;
}
.colorBrand-3cPPsm {
  color: #c5536c;
}
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  background-color: var(--background-modifier-hover) !important;
}

/* Buttons */
.lookFilled-yCfaCM {
  background-color: #c5536c !important;
}
.lookFilled-yCfaCM:active,
.lookFilled-yCfaCM:hover {
  background-color: #b64a61 !important;
}
.lookOutlined-3yKVGo:not(.colorWhite-1H92hK) {
  color: #c5536c;
  border-color: #c5536c;
}

/* Hover background */
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  color: var(--interactive-normal);
}
.icon-2nTqWy {
  color: var(--channels-default) !important;
}

.theme-light {
    /* Mention */
  --mention-foreground: #a86373;
  --mention-background: #fdc7c7;

  /* Text */
  --text-normal: #a86373;
  --header-primary: #a86373;
  --interactive-normal: #a86373;
  --channels-default: #a86373;
  --channel-icon: #a86373;
  
  --text-muted: #a86373;
  --interactive-muted: #cf92a0;

  --header-secondary: #cf92a0;
  --interactive-hover: #be7d8c;
  --interactive-active: #b36f7f;

  --text-link: #f70b75ce;
  /* Background color */
  --background-primary: #feeeef;
  --background-secondary: #fadddf;
  --background-secondary-alt: #fdc7c7;
  --background-tertiary: #ffbbbb;
  --background-floating: #ffbbbb;
  --background-accent: #c5536c;
  --channeltextarea-background: var(--background-secondary);
  --background-modifier-hover: rgba(56, 31, 31, 0.062);
  --background-modifier-active: rgba(19, 12, 12, 0.123);
  --background-modifier-selected: rgba(31, 21, 21, 0.11);

  /* Scrollbar */
  --scrollbar-auto-thumb: var(--background-tertiary);
  --scrollbar-auto-track: var(--background-secondary-alt);
  --scrollbar-thin-thumb: var(--background-tertiary);
  --scrollbar-thin-track: transparent;

  /* Other */
  --deprecated-quickswitcher-input-background: var(--background-primary);
  --brand-experiment: #a86373 !important;  
}

.colorBrand-3cPPsm {
  color: #c5536c;
}
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  background-color: var(--background-modifier-hover) !important;
}

/* Buttons */
.lookFilled-yCfaCM {
  background-color: #c5536c !important;
}
.lookFilled-yCfaCM:active,
.lookFilled-yCfaCM:hover {
  background-color: #b64a61 !important;
}
.lookOutlined-3yKVGo:not(.colorWhite-1H92hK) {
  color: #c5536c;
  border-color: #c5536c;
}
.icon-2nTqWy {
  color: var(--channels-default) !important;
}
   /* Change the "Home Icon" to any image you want (Remove the default home icon) */
:root .tutorialContainer-1pL9QS .childWrapper-1j_1ub, .tutorialContainer-2sGCg9 .childWrapper-1j_1ub {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://cdn.discordapp.com/attachments/1024230065350914138/1097503279874842724/ezgif.com-crop.gif"); /* <-- Image URL here */
  background-size: 40px 40px;
  background-clip: border-box;
}
:root .homeIcon-r0w4ny, .homeIcon-FuNwkv > path {
  display: none;
}
.option-ayUoaq:after{
  display: none;
}
/* End Region for App Icon */

/* Test area */

/* add hover colors to everything*/
:root .lookFilled-1H2Jvj.colorBrand-2M3O3N:hover {
  background: var(--channel-icon) !important;
  background-color: var(--channel-icon) !important;
}

:root .lookFilled-1H2Jvj.colorBrand-2M3O3N {
  background: var(--interactive-active) !important;
  background-color: var(--interactive-active) !important;
}
.theme-light .lookFilled-1H2Jvj.colorPrimary-2-Lusz {
  color: var(--white-500);
  background-color: var(--channels-default) !important;
}
:root .wrapper-1ZcZW- {
  border-radius: 3px;
  padding: 0 2px;
  font-weight: 500;
  unicode-bidi: -moz-plaintext;
  unicode-bidi: plaintext;
  color: var(--mention-foreground);
  background: var(--mention-background);
}
.theme-light .innerHeader-1cC3Fp:after {
  display: none;
}
.theme-light .buttonIcon-2Zsrs2 {
  color: var(--mention-background);
}
.theme-light.text-sm-medium-2-Xzsi {
  color: #a86373 !important;
}

/* Test area for the call overlay */
:root .disabledButtonOverlay-10gJ0t {
  display: none;
}
.theme-light .button-1EGGcP.buttonColor-3bP3fX, .button-1EGGcP .buttonColor-3bP3fX {
  background: transparent;;
  color: var(--interactive-active);
}
.theme-light .controlIcon-10O-4h {
  color: var(--interactive-normal);
}
.theme-light.row-1qtctT:hover {
  background-color: var(--text-normal) !important;
}
