/* Hide Nitro section */
:root .dm-nitro {
    display: none;
}

/* Adjust DM list */
:root .app .sidebar .content-3YMskv {
    display: flex;
    flex-direction: column;
}

:root .sidebar .content-3YMskv .scroller-2FKFPG {
    flex-grow: 1;
    overflow-y: auto;
}


.theme-light .container-ZMc96U .children-3xh0VB .icon-2xnN2Y {
    color: var(--link-text);
    filter: drop-shadow(0 0 3px);
    width: 22px
}

/* Animations */

/* Channels */
:root .link-1_kTxV {
    transition: all .15s ease-in-out;
}
:root .privateChannels-oVe7HL .privateChannelsHeaderContainer-1UWASm {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-normal);
    font-weight: 700;
    text-align: center;
}
