:root {
    .theme-light .headerBarInner-39Tej7:after {
        display: none;
    }
    .menu-2TXYjN .item-5ApiZt.focused-3LIdPu {
    background-color: var(--hover-color);
}
    .menu-2TXYjN .item-5ApiZt {
    transition: all .15s ease-in-out
}
    .menu-2TXYjN .item-5ApiZt.colorDefault-2_rLdz:active:not(.hideInteraction-1vQrZJ) {
    background-color: var(--hover-color);
    border-color: var(--hover-color)
}
}
/* Hide Nitro section */
:root .dm-nitro {
    display: none;
}

/* Adjust DM list */
:root .app .sidebar .content-3YMskv {
    display: flex;
    flex-direction: column;
}

:root .sidebar .content-3YMskv .scroller-2FKFPG {
    flex-grow: 1;
    overflow-y: auto;
}


.theme-light .container-ZMc96U .children-3xh0VB .icon-2xnN2Y {
    color: var(--link-text);
    filter: drop-shadow(0 0 3px);
    width: 22px
}

/* Animations */

/* Channels */
:root .link-1_kTxV {
    transition: all .15s ease-in-out;
}
:root .privateChannels-oVe7HL .privateChannelsHeaderContainer-1UWASm {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-normal);
    font-weight: 700;
    text-align: center;
}
:root .name-3BUDLf {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-normal);
    font-weight: 700;
    text-align: center;
    transition: all .3s ease-in-out;
    opacity: .7;
}
:root .container-q97qHp {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .02em;
    font-family: var(--font-display);
    font-weight: 600;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: var(--channels-default);
}
:root .name-3BUDLf:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    transition: all .3s ease-in-out;
    background: linear-gradient(to right, var(--channel-default) 50%, transparent);
    margin-left: 5px;
}
:root .name-3BUDLf:before {
    content: "";
    height: 2px;
    flex-grow: 1;
    transition: all .3s ease-in-out;
    background: linear-gradient(to left, var(--channel-default) 50%, transparent);
    margin-right: 5px;
}
:root .members-3WRCEx .membersGroup-2eiWxl:before {
    content: "";
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to left, currentColor 50%, transparent);
    margin-right: 5px;
}
:root .members-3WRCEx .membersGroup-2eiWxl:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to right, currentColor 50%, transparent);
    margin-left: 5px;
}
.theme-light .sidebar-2K8pFh {
    width: 0px;
    transition: 0.2s ease;
}
.theme-light .wrapper-3NnKdC:hover+.base-3dtUhz>.content-98HsJk>.sidebar-2K8pFh{
    width:240px;
}
.theme-light .sidebar-2K8pFh:hover {
    width:240px;
}

/* Floating Folder */
.wrapper-38slSD:active {
  -webkit-transform: unset;
  transform: none;
}

[id^="folder-items-"] {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99;
  overflow-y: auto;
  max-height: calc(100vh - 72px);
  margin: auto auto auto calc(62px + 8px); /* Adjust the left margin value as needed */
  padding-top: 8px;
  border-radius: 8px;
  background: var(--background-tertiary);
  -webkit-box-shadow: var(--elevation-high);
  box-shadow: var(--elevation-high);
}

[id^="folder-items-"]::-webkit-scrollbar {
  display: none;
}

/* Channel hover and click animation */
  .containerDefault-YUSmu3 {
transition: all 0.5s;
}
.containerDefault-YUSmu3:hover {
transition: all 0.2s;
transform: translatex(-3px);
}
.containerDefault-YUSmu3:active {
transition: all 0.2s;
transform: translatex(1px);
}

/* Dm list area */
:root .content-1gYQeQ, :root .container-32HW5s {
transition: all 0.5s;
}
:root .content-1gYQeQ, :root .container-32HW5s {
transition: all 0.2s;
transform: translatex(-3px);
}
:root .content-1gYQeQ, :root .container-32HW5s {
transition: all 0.2s;
transform: translatex(1px);
}
